<h2>Update yer Dino Info</h2>

<form method="POST" action="/dinosaurs/<%= dinosaur.id %>/?_method=PUT">
    <label for="dinosaurName"> Name </label>
    <input type="text" name="dinosaurName" value="<%= dinosaur.name %>">

    <label for="dinosaurType"> Type </label>
    <input type="text" name="dinosaurType" value="<%= dinosaur.type %>"/>

    <input type="submit" value="UPDATE MY DINO">
</form>