<h2>Update yer Dino Info</h2>

<form method="POST" action="/dinosaurs/<%= dinosaur.id %>/?_method=PUT">
    <label for="dinosaurName"> Name </label>
    <input type="text" name="dinosaurName" value="<%= dinosaur.name %>">

    <label for="dinosaurType"> Type </label>
    <input type="text" name="dinosaurType" value="<%= dinosaur.type %>"/>

    <input type="submit" value="UPDATE MY DINO">
</form>

<form action="/dinosaurs/<%= dinosaur.id %>/possessions" method="POST">
    <h3>Give this dino a thing:</h3>
    <input type="text" name="name" placeholder="what is it"><br />
    <input type="submit" value="submit">
</form>