<h3>These are all of the dinos that we can GET</h3>
<a href="/dinosaurs/new">Add a Dino!</a>
    <% dinosaurs.forEach( function (dinosaur) { %>
        <p><a href="/dinosaurs/<%= dinosaur.id %>"><%= dinosaur.name %></a></p>
    <% }); %>
